*{
    margin:0px;
    padding:0px;
}

@import "colores";
@import "operaciones";
@import "footer";

body{
    background-color: $color-negro;
    margin: 0px;
    padding: 0px;
}

h1{
     font-size: 45px;
     color:$color-claro;
     text-align: center;
     transition: all 3s;
     margin-top: 15px;
    }

// /* TRANSITION EN EL TITULO */

h1:hover{
    height: 90px;
    font-size: 60px;
    color:$color-blanco;
    padding-top: 25px;
}

ul{
    list-style: none;
    padding:0px;
    margin-top: 35px;
    li{
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: $color-negro;
        padding: 12px;
        margin-left: 3px;
        background-color: $color-claro;
    }
}

.form-index{
    text-align: right;
    margin-right: 25px;
}

.img-inicio {
    grid-area: inicio;
    text-align: center;
    margin-top: 10px;
}
img {
    width: 7cm;
    height: 7cm;
    margin-top: 60px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    border: solid 3px $color-negro;
}

/* ANIMACI/TRANS/TRANSI PARA LAS IMAGENES */

.imgadr:hover{
    transform: translate(0px,-50px);
}

.imgadr{
    transition: all 2s;
    border: solid 2px $color-claro;
}

.imgtal:hover{
    transform: translate(0px,-50px);
}

.imgtal{
    transition: all 2s;
    border: solid 2px $color-claro;
}

.imgmin:hover{
    transform: translate(0px,-50px);
}

.imgmin{
    transition: all 2s;
    border: solid 2px $color-claro;
}


// SECTION CON GRID Y FLEX

.gridarea {
    display: grid;
    background-color: $color-negro;
    grid-template-areas:'inicio'
                        'primeraparte'
                        'segundaparte'
                        'footer'
}

.primersection{
    grid-area: primeraparte;
    background-color: blueviolet;
}
.segundosection{
    grid-area: segundaparte;
    background-color: brown;
}

.primersection {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 8px;
}

.segundosection{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    padding-bottom:8px;
}

.button {
    color: $color-negro;
    background-color: $color-claro;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px;
    border: solid 1px $color-blanco;
}

p{
    color: $color-blanco;
    font-family: serif;
    margin-left: 10px;
}





